<!DOCTYPE html>
<html>
	<head>
		<title>Life Skills Survey</title>
		<meta charset = "utf-8" />
		<link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 			480px)" href="/static/lifeskills/smalldevice.css" />
		
	
	</head>
	<body class = "body">
		<header class = "mainHead">
			<h1> Life Skills Trainings Survey </h1>
		</header>

		{% csrf_token %}
		
		<p>{{first_question}}</p>

		<textarea rows="4" cols="50">
		Enter response here.
		</textarea>

		<p>{{second_question}}</p>

		<textarea rows="4" cols="50">
		Enter response here.
		</textarea>
		
		{% for question in pre_questions. %}
			<option

		
		
			
			
	
	</body>
</html>
