.mainHead h1{
	/*Cool header at the top*/
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color: #222222;
	display: block;
	font-size: 700%;
	font-weight: bold;
	margin-bottom: -1px;
	padding: 12px 10px;
	text-decoration: none;
	text-align:center;
}

p{
	font-size: 500%;
	text-align: left;
	padding-left: 1cm;
}

textarea{
	display: block;
	width: 100%;
	height: 600px;
	font-size: 36pt;
}

label {
	font-size: 400%;
	padding-left: 1cm;
}

input[type=radio]{
	width: 3em;
	height: 3em;
}
