{% extends "botvin/base.html" %}
{% load static %}
{% block body_block %}
	<head>
		<title>{{school_level}} Botvin Lifeskills Survey {{section}}</title>
		<script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
		<script src="{% static 'js/jquery.validate.js' %}"></script>


        <style>
            label.error {
                color: red;
                text-decoration: underline;
                font-weight: bold;
            }
        </style>
	</head>
	<body class="body">
		<header class = "mainHead">
			<h1 style="text-align:center; margin-bottom: 25px;"> Botvin Lifeskills Section {{section}}</h1>
		</header>

		{% if error_message %}
			<h3><strong>{{ error_message }}</strong></h3>
			<a href="{% url 'botvin_lifeskills:botvinsurvey' section school_level %}"><h4>GO BACK</h4></a>
		{% endif %}

        {% ifequal section "B" %}<p> Read each statement below and indicate whether you think each is True or False by filling in the appropriate circle. </p>{% endifequal %}

        {% if school_level == "ES" %}{% if section == "C" %}<p> Mark the circle to show if you agree or disagree with each of the statements below. </p>{% endif %}
        {% elif section == "C" %}<p> Please fill in the circle to show how much you agree or disagree with each statement.</p>{% endif %}

        {% if school_level == "ES" %}{% if section == "D" %}<p> Mark he circle for each statement to show how often you do the following things</p>{% endif %}
        {% elif section == "D" %}<p> Please fill in each circle to show how you would handle the following situations. </p>{% endif %}

        <form action="{% url 'botvin_lifeskills:botvinSectionVote'  %}" method="post" id="radio_group" name="radio_group">

            <input type="hidden" value="{{school_level}}" name="school_level">
            <input type="hidden" value="{{section}}" name="section">
		{% csrf_token %}

		{% for question in questions %}
			<div style="margin-bottom: 2cm;">
                {% if school_level == "ES" %}{% if section == "D" %}{% if forloop.counter == 7 %}<p> Mark the word for each statement to show how likely you would be to do the following things.</p>{%endif%}{%endif%}
                {% elif section == "D" %}{% if forloop.counter == 1 %}<p> How likely would you be to: </p>{%endif%}
                {% if forloop.counter == 6 %}<p> How likely would you do the following things: </p>{%endif%}
                {% if forloop.counter == 9 %}<p> When you feel anxious you: </p>{%endif%}
                {% if forloop.counter == 11 %}<p> In general: </p>{%endif%}{%endif%}


            <p style="font-size:x-large; font-weight: bold;">{{question.question_number}}. {{question}}</p>
		    {% for choice in question.answer_set.all %}

               		<label for="choice{{ forloop.counter }}" style="font-size: large;">
			    	<input type="radio" name=choice{{question.question_number}} id="choice{{ forloop.counter }}" value="{{ choice.id }}" required/>
			    	{{ choice.choices }}
			    	</label><br />
				
		    {% endfor %}
			</div>
        {% endfor %}

		{% if not error_message %}
			<div class="buttonHolder">
				<input type="submit" value="Submit" />
			</div>
		{% endif %}
			
		</form>
			<script>
				$(document).ready(function () {
				$("#radio_group").validate();
				}(jQuery));

			</script>

	</body>
{% endblock %}
